<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmoniter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d6e3f092-c3cd-4da5-b972-b3dba5f76389/resourceGroups/azurefunctions/providers/Microsoft.Web/sites/GitHubMoniter</ResourceId>
    <UserName>$GitHubMoniter</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubmoniter.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>